<div class="row">
  <div class='col-md-12 '>
    <%= button_to "logout", destroy_user_session_path, method: :delete %>
  </div>
</div>

<div class="row">
  <div class='col-md-12'>
    <h3 class='col-md-6'>Assets Listing</h3>
    <%= link_to 'Add Asset', new_accommodation_path, class: 'btn btn-primary float-right', style: "margin: 10px;"%>
  </div>
</div>

<table  class="table">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Address</th>
      <th>Type</th>
      <th>Sqmt</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.user.name %></td>
        <td><%= asset.address %></td>
        <td><%= asset.type %></td>
        <td><%= asset.sqmt %></td>
        <td><%= asset.price %></td>
        <td><%= link_to "Show", accommodation_path(asset) %>
          <%= link_to "Buy", buy_accommodation_path(asset) %></td>
      </tr>
    <% end %>
  </tbody>
</table>