<h1>Add Asset Item</h1>
<%= form_for(@asset, url: accommodations_path, method: :post) do |f| %>
  <div class="form-horizontal">
  	<div class="form-group">
      <%= f.label :type, class: "col-sm-2 control-label required" %>
      <div class="col-sm-7">
        <%= f.select :type,
                      options_for_select(
                        [['House', 'House'], ['CommecialUnit', 'CommecialUnit'], ['ComplexBuilding', 'ComplexBuilding'] ],
                        @asset.type
                        )
                %>
	    </div>     
	  </div>

  	<div class="form-group">
      <%= f.label :address, class: "col-sm-2 control-label required" %>
      <div class="col-sm-7">
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>  

    <div class="form-group">
      <%= f.label :price, class: "col-sm-2 control-label required" %>
      <div class="col-sm-7">
        <%= f.text_field :price, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :sqmt, class: "col-sm-2 control-label required" %>
      <div class="col-sm-7">
        <%= f.text_field :sqmt, class: "form-control" %>
      </div>
    </div>

    <div class="house">
      <div class="form-group">
        <%= f.label :rooms, class: "col-sm-2 control-label required" %>
        <div class="col-sm-7">
          <%= f.select :rooms,  options_for_select(
                          [1,2,3,4,5],
                          @asset.rooms
                          ) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :floors, class: "col-sm-2 control-label required" %>
        <div class="col-sm-7">
          <%= f.select :floors,  options_for_select(
                          [1,2,3,4,5],
                          @asset.floors
                          ) %>
  	    </div>     
  	  </div>
  	  <div class="form-group">
        <%= f.label :air_cond, class: "col-sm-2 control-label required" %>
        <div class="col-sm-7">
          <%= f.select :air_cond,
                        options_for_select(
                          [['No', false], ['Yes', true] ],
                          @asset.air_cond
                          )
                  %>
  	   </div>
  	  </div>     
    </div>

    <div class="complex-building">
      <div class="form-group">
        <%= f.label :units, class: "col-sm-2 control-label required" %>
        <div class="col-sm-7">
          <%= f.text_field :units, class: "form-control" %>
        </div>
      </div>     
    </div>
    
    <div class="commecial-unit" >
      <div class="form-group">
        <%= f.label :shops, class: "col-sm-2 control-label required" %>
        <div class="col-sm-7">
          <%= f.text_field :shops, class: "form-control" %>
        </div>   
      </div>

      <div class="form-group">
        <%= f.label :parking, class: "col-sm-2 control-label required" %>
        <div class="col-sm-7">
          <%= f.text_field :parking, class: "form-control" %>
        </div>
      </div>     
    </div>

    <div class="form-group">
      <%= f.label 'Image', class: "col-sm-2 control-label required" %>
      <div class="col-sm-7">
        <%= f.file_field :files, multiple: true %>
      </div>
    </div> 
    
	  <%= f.hidden_field :owner_id, value: current_user.id, class: "form-control" %>
    <div class="form-group">
      <%= link_to "Back", root_path %>
      <%= f.submit %>
    </div>
  </div>
<% end %>
